/* Codeblock Node
-------------------------------------------------------------------------------*/

.content-node.codeblock {
  line-height: 20px;
  padding: 10px 10px;
}

.content-node.codeblock .content {
  border: 1px dotted #ccc;
  background: rgba(0,0,0, 0.01);
  font-family: 'Monaco', 'Source Code Pro', 'Courier New';
  font-size: 12px;
  color: #777;
  padding: 10px;
  min-height: 28px;
}

.content-node.codeblock {
  padding: 20px 60px;
  padding-left: 100px;
}


