/* Codeblock Node
-------------------------------------------------------------------------------*/

.content-node.codeblock {
  line-height: 20px;
  padding: 10px 10px;
}

.content-node.codeblock .content {
  font-family: 'Source Code Pro';
  font-size: 14px;
  color: #777;
  min-height: 28px;
}

.content-node.codeblock {
  padding: 20px 60px;
  padding-left: 100px;
}


