/* Article
-------------------------------------------------------------------------------*/

.article {
  height: 100%;
}

/* Surface specific styles */

.content-node {
  margin: 0px;
  /*margin: 0 60px; -> causes the scrollbar to disappear */
}


/*
Main content panel
--------------------------------------- */


.article .document {
  line-height: 28.5px;
  font-size: 18px;
  position: relative;
  float: left;
  overflow: visible;
  height: 100%;
  width: 55%;
}

.article .document .surface.content {
  position: absolute;
  top: 0px;
  bottom: 0px;
  overflow-y: scroll;
  overflow-x: hidden;
  -webkit-overflow-scrolling: touch;
}

.article .document .surface.content .nodes {
  margin-right: 15px;
  background: #FFFFFF;
}


/*
Resources Panel 
--------------------------------------- */

.article .resources {
  float: right;
  line-height: 20px;
  width: 45%;
  background: #F5F5F5;
  height: 100%;
  position: relative;
  overflow: hidden;
}

.article .resources .surface.figures {
  position: absolute;
  top: 0px;
  bottom: 0px;
  left: 0px;
  right: 0px;
  overflow-y: scroll;
  overflow-x: hidden;
  -webkit-overflow-scrolling: touch;
}

.article .resources .surface.citations {
  display: none;
  position: absolute;
  top: 0px;
  bottom: 0px;
  overflow-y: scroll;
  overflow-x: hidden;
  -webkit-overflow-scrolling: touch;
}


.article .resources .resources-header {
  display: none;
  position: fixed;
  font-weight: bold;
  font-size: 14px;
  top: 80px;
  height: 40px;
  line-height: 40px;
}

.article .resources .resources-header a {
  font-weight: bold;
  color: black;
}


.article .resources .content-node .reference-count {
  font-size: 13px;
  position: absolute;
  right: 20px;

  color: #999;
  top: 40px;
  text-align: right;
}

/* Annotations
-------------------------------------------------------------------------------*/

.article span.annotation {
  -webkit-transition-property: background, color;
  -moz-transition-property: background, color;
  transition-property: background, color;

  -webkit-transition-duration: 0.1s;
  -moz-transition-duration: 0.1s;
  transition-duration: 0.1s;
}

span.annotation.formula_reference, span.publication_reference {
  padding-left: 3px; padding-right: 3px;
}

.article span.emphasis, #document em {
  font-style: italic;
}

.article span.superscript, #document span.subscript, .article sup, #document sub {
  vertical-align: baseline;
  position: relative;
  top: -0.4em;
  font-size: 12px;
}

.article span.subscript, .article sub {
  top: 0.4em;
}

.article span.strong, .article strong {
  font-weight: bold;
}

.article span.underline {
  text-decoration: underline;
}


.content-node .idea { background-color: rgba(102, 182, 32, 0.3); }
.content-node .question { background-color: rgba(16, 167, 222, 0.3); }
.content-node .error { background-color: rgba(237, 96, 48, 0.3); }
.content-node .link { color: #DC4A1D; text-decoration: underline;}

/* Inline Code Annotations */

.content-node .code {
  font-family: Consolas, "Liberation Mono", Courier, monospace; background: #eee; font-size: 15px
  -webkit-font-smoothing: subpixel-antialiased;
}

/* Highlighted states */

.content-node .idea.highlight { background-color: rgba(102, 182, 32, 0.6); }
.content-node .question.highlight { background-color: rgba(16, 167, 222, 0.6);}
.content-node .error.highlight { background-color: rgba(237, 96, 48, 0.6); }

/* Selected states */

.content-node .content span.selected { background: rgba(0,0,0,0.08); }
.content-node .content .idea.selected { background-color: rgba(102, 182, 32, 0.4); }
.content-node .content .question.selected { background-color: rgba(16, 167, 222, 0.4);}
.content-node .content .error.selected { background-color: rgba(237, 96, 48, 0.4); }

/* Em, Strong, Link */

.content-node .emphasis { font-style: italic; }
.content-node .link { background-color: #00CFEA; }
.content-node .strong { font-weight: bold; }


/* Figure Reference */

.content-node .figure_reference {
  background: rgba(145, 187, 4, 0.15);
  border-bottom: 1px solid rgba(145, 187, 4, 0.8);
  color: #495A11;
  cursor: pointer;
}

.content-node .citation_reference { 
  background: rgba(11, 157, 217, 0.075);
  color: #1B6685;
  border-bottom: 1px solid rgba(11, 157, 217, 0.4);
  cursor: pointer;
}


.content-node .figure_reference.active { background-color: rgba(145, 187, 4, 0.35); }
.content-node .citation_reference.active { background-color: rgba(11, 157, 217, 0.30); }

.content-node .figure_reference.selected { background: rgba(145, 187, 4, 0.7); }
.content-node .citation_reference.selected { background: rgba(11, 157, 217, 0.6); }

/* Cross Reference */

.content-node .cross_reference { color: #1B6685; cursor: pointer; }
.content-node .cross_reference.active { color: rgba(11, 157, 217, 1); cursor: pointer; }

