/* Image Node
-------------------------------------------------------------------------------*/

.content-node.image {
}


.content-node.image .content {
  padding: 0px;
}


.content-node.image .image-wrapper {
  padding: 20px;
  background: #fff;
}

.content-node.image .caption {
  background: #fff;
  padding: 20px;
}

.content-node.image div img {
  width: 100%;
}

/* When rendered in main panel */
.document .content-node.image {
  padding: 20px 60px;
  padding-left: 100px;
}