/* Publication Info */

#document .resources .info .content-node.publication_info {
  padding: 30px 0;
  background: #EBEBEB;
  color: #333;
}

#document .resources .info .content-node.publication_info table {
  padding: 30px;
  border: none;
  width: 100%;
}

#document .resources .info .content-node.publication_info .label.links {
  padding-left: 30px;
}


#document .resources .info .content-node.publication_info .links {
  overflow: auto;
}

#document .resources .info .content-node.publication_info .links .link {
  margin-top: 10px;
  padding: 10px;
  float: left;
  display: block;
  margin-right: 10px;
  background: #fff;
  border-radius: 5px;
}

#document .resources .info .content-node.publication_info table.dates {
  background: #fff;
  margin-top: 30px;
}

#document .resources .info .content-node.publication_info table.dates td {  
  border: none;
  padding-left: 30px;
  padding-bottom: 10px;
  text-align: center;
  font-size: 13px;
  width: 33%;
}

#document .resources .info .content-node.publication_info table.categorization td {
  border: none;
  font-size: 13px;
  padding-left: 30px;
  width: 50%;
}

#document .resources .info .content-node.publication_info .value {
  font-weight: bold;
  font-size: 15px;
}

#document .resources .info .content-node.publication_info .links {
  padding-left: 30px;
}