/* Publication Info */

.lens-article .content-node.publication-info {
  /*padding: 30px 0;*/
  /*background: rgba(0,0,0,0.1);*/
  color: #333;
}

.article .resources .nodes > .content-node.publication-info > .content {
  border-top: 1px solid #ddd;
}

.lens-article .content-node.publication-info table {
  padding: 10px 0;
  border: none;
  width: 100%;
}

.lens-article .content-node.publication-info .label {
  color: #666;
}

.lens-article .content-node.publication-info .label.links {
  padding-right: 30px;
}

.lens-article .content-node.publication-info .links {
  overflow: auto;
}

.lens-article .content-node.publication-info .links .link {
  margin-top: 10px;
  padding: 10px;
  float: left;
  display: block;
  margin-right: 10px;
  background: #fff;
  border-radius: 5px;
}

.lens-article .content-node.publication-info table.dates {
  background: #fff;
  margin-top: 30px;
}

.lens-article .content-node.publication-info table.dates td {  
  border: none;
  padding-right: 30px;
  padding-bottom: 10px;
  text-align: center;
  font-size: 13px;
  width: 33%;
}

.lens-article .content-node.publication-info table.categorization td {
  border: none;
  font-size: 13px;
  padding-right: 30px;
  width: 50%;
}

.lens-article .content-node.publication-info .value {
  /*font-weight: bold;*/
  font-style: italic;
  font-size: 15px;
}

.lens-article .content-node.publication-info .links {
  padding-right: 30px;
}