.lens-article .content-node.cover {
  /*background: #5c6570;*/
  color: rgba(0,0,0,0.8);
}

.lens-article .content-node.cover .breadcrumbs {
  /*background: #5c6570;*/
  font-size: 14px;
  padding-bottom: 20px;
}

.lens-article .content-node.cover .breadcrumbs a {
  margin-right: 20px;
}

.lens-article .content-node.cover .content {
  background: none;
}

.lens-article .content-node.cover .title {
  font-family: 'Avenir LT W01 85 Heavy', 'Montserrat', 'Source Sans Pro';
  line-height: 1.3em;
  font-size: 40px;
}

.lens-article .content-node.cover .content .authors {
  padding-top: 30px;
  /*color: rgba(255,255,255, 0.7);*/
  color: #1B6685;
  overflow: auto;
}

/* One para per author */
.lens-article .content-node.cover .authors .text {
  float: left;
  padding: 0px;
  margin: 0px;
  font-size: 20px;
  margin-right: 10px;
  margin-bottom: 8px;
  /*color: rgba(255,255,255, 0.7);*/
}