/*
Citations 
--------------------------------------- */

.lens-article .content-node.citation .content .authors {
  font-size: 17px;
}

.lens-article .content-node.citation .content .source {
  color: #777;
  padding-top: 20px;
}
