/* Image Node
-------------------------------------------------------------------------------*/

/*.content-node.image { 
  padding: 20px 60px;
  padding-left: 100px;
}


.content-node.image .content {
  text-align: center;
  padding: 0px;
}

.content-node.image div.image-char {
  text-align: center;
  padding-bottom: 20px;
}*/

/*.content-node.image div.image-char img {
  
}

.content-node.image > .content {
  background: #fff;
  padding: 20px;
}

.content-node.image .paragraph .content {
  background: #fff;
}

.content-node.image div img.medium {
  width: 100%;
}

.content-node.image div img.large {
  display: none;
}*/

/* Full screen Mode */

/*.content-node.image.fullscreen div img.medium {
  display: none;
}

.content-node.image.fullscreen div img.large {
  width: 100%;
  display: block;
}

.content-node.image.fullscreen .paragraph .content {
  padding: 20px 50px;
  background: #fff;
}*/