/* Node
-------------------------------------------------------------------------------*/

.content-node {
  padding: 20px 0px;
}

/* Focus Toggles
-------------------------------------------------------------------------------*/

.document .content-node .focus {
  position: absolute;
  top: 0px;
  bottom: 0px;
  right: 0px;
  width: 50px;
  color: #888;
  border-top: 1px solid #eee;
}

.document .content-node .focus i {
  padding-top: 15px;
  display: block;
  font-size: 18px;
  text-align: center;
}

.document .content-node .focus .focus-mode {
  width: 50px;
  height: 70px;
  cursor: pointer;
  text-align: center;
  font-size: 14px;
  font-weight: bold;
  position: relative;
}

.document .content-node .focus-mode.figure:hover, .document .content-node .focus-mode.figure.active {
  color: rgba(145, 187, 4, 1.0);
}

.document .content-node .focus-mode.citation:hover, .document .content-node .focus-mode.citation.active {
  color: rgba(11, 157, 217, 1);
}

.document .content-node .focus-mode.node:hover, .document .content-node .focus-mode.node.active {
  color: black;
}

.article.figure .content-node.active .focus-mode.figure {
  color: rgba(145, 187, 4, 1.0);
}

.article.citation .content-node.active .focus-mode.citation {
  color: rgba(11, 157, 217, 1);
}

.document .content-node .focus .arrow {
  display: none;
}

.document .content-node .focus .stripe {
  opacity: 0;
  position: absolute;
  right: -3px;
  width: 3px;
  top: 0px;
  bottom: 0px;
  background: black;
}

#container .article .document .content-node.active .focus-mode.node .stripe {
  background: black;
}

.document .content-node .focus .arrow {
  position: absolute;
  top: 30px;
  right: -13px;
  width: 0; 
  height: 0; 
  border-top: 10px solid transparent;
  border-bottom: 10px solid transparent;
  border-left: 10px solid black;
}

.article.figure .content-node.active .focus .focus-mode.figure .arrow {
  border-left: 10px solid rgba(145, 187, 4, 1.0);
  display: block;
}

.article.citation .content-node.active .focus .focus-mode.citation .arrow {
  border-left: 10px solid rgba(11, 157, 217, 1);
  display: block;
}

.article.figure .content-node.active .focus .stripe {
  background: rgba(145, 187, 4, 1.0);
  opacity: 1;
}

.article.citation .content-node.active .focus .stripe {
  background: rgba(11, 157, 217, 1);
}

.article.citation .content-node.active .focus.anchor .stripe {
  background: black;
}

.document .content-node:hover .focus .stripe {
}

.document .content-node.active .focus .stripe {
  display: block;
  opacity: 1;
}

.document .content-node .focus:hover {

}

.content-node.active .focus {
  opacity: 1.0;
}
