/*
Contributor 
--------------------------------------- */

.lens-article .content-node.contributor .content {
  
}

.lens-article .content-node.contributor .affiliation {
  margin-top: 10px;
  font-size: 17px;
}

.lens-article .content-node.contributor .label {
  font-size: 14px;
  margin-top: 20px;
  color: #777;
}