/* List Node
-------------------------------------------------------------------------------*/

.content-node.list {
  padding: 10px 0px;
  padding-top: 0px;
}


.content-node.list ul {
  padding: 20px 60px;
  padding-left: 130px;
}

.content-node.list .paragraph {
  margin: 0;
  padding: 0;
}

.content-node.list .content {
  min-height: 30px;
}

.content-node.list { }

.content-node.list .content {

}